@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9551 0 0);
  --foreground: oklch(0.2520 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2520 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2520 0 0);
  --primary: oklch(0.6452 0.1095 1.5128);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.3847 0.0208 274.3064);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.5709 0.0155 276.8720);
  --accent: oklch(0.9446 0.0180 351.1579);
  --accent-foreground: oklch(0.2520 0 0);
  --destructive: oklch(0.6817 0.0896 31.8561);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9035 0.0029 264.5411);
  --input: oklch(0.9035 0.0029 264.5411);
  --ring: oklch(0.6452 0.1095 1.5128);
  --chart-1: oklch(0.6452 0.1095 1.5128);
  --chart-2: oklch(0.7244 0.0871 0.6003);
  --chart-3: oklch(0.8106 0.0629 351.0543);
  --chart-4: oklch(0.8862 0.0420 344.7018);
  --chart-5: oklch(0.9271 0.0278 342.2776);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2520 0 0);
  --sidebar-primary: oklch(0.6452 0.1095 1.5128);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9446 0.0180 351.1579);
  --sidebar-accent-foreground: oklch(0.2520 0 0);
  --sidebar-border: oklch(0.9035 0.0029 264.5411);
  --sidebar-ring: oklch(0.6452 0.1095 1.5128);
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.325rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.2103 0.0059 285.8852);
  --foreground: oklch(0.9249 0 0);
  --card: oklch(0.2335 0.0077 297.2358);
  --card-foreground: oklch(0.9249 0 0);
  --popover: oklch(0.2335 0.0077 297.2358);
  --popover-foreground: oklch(0.9249 0 0);
  --primary: oklch(0.6452 0.1095 1.5128);
  --primary-foreground: oklch(0.2103 0.0059 285.8852);
  --secondary: oklch(0.2785 0.0073 285.9174);
  --secondary-foreground: oklch(0.8699 0 0);
  --muted: oklch(0.3107 0.0071 285.9805);
  --muted-foreground: oklch(0.6835 0.0105 273.2943);
  --accent: oklch(0.5706 0.0775 358.3032);
  --accent-foreground: oklch(0.8699 0 0);
  --destructive: oklch(0.7221 0.0612 26.4710);
  --destructive-foreground: oklch(0.9249 0 0);
  --border: oklch(0.3813 0.0101 285.9112);
  --input: oklch(0.3813 0.0101 285.9112);
  --ring: oklch(0.6452 0.1095 1.5128);
  --chart-1: oklch(0.6452 0.1095 1.5128);
  --chart-2: oklch(0.7244 0.0871 0.6003);
  --chart-3: oklch(0.8106 0.0629 351.0543);
  --chart-4: oklch(0.8862 0.0420 344.7018);
  --chart-5: oklch(0.9271 0.0278 342.2776);
  --sidebar: oklch(0.2335 0.0077 297.2358);
  --sidebar-foreground: oklch(0.9249 0 0);
  --sidebar-primary: oklch(0.6452 0.1095 1.5128);
  --sidebar-primary-foreground: oklch(0.2103 0.0059 285.8852);
  --sidebar-accent: oklch(0.5706 0.0775 358.3032);
  --sidebar-accent-foreground: oklch(0.8699 0 0);
  --sidebar-border: oklch(0.3813 0.0101 285.9112);
  --sidebar-ring: oklch(0.6452 0.1095 1.5128);
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.325rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0.00);
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --radius: 0.325rem;
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}