@import "tailwindcss";

@theme inline {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body { font-family: var(--font-sans); }

.container { max-width: 900px; }

/* Hide scrollbars but keep scrolling */
/* For WebKit-based browsers */
::-webkit-scrollbar { width: 0; height: 0; }
::-webkit-scrollbar-thumb { background: transparent; }
/* For Firefox */
* { scrollbar-width: none; }
